@charset "UTF-8";
/**form内マーク（必須/任意）
 * background-colorは以下を使用
 * 必須：$red
 * 任意：$green
 */
/**form内マーク（）
 * background-colorは以下を使用
 * 送信/確認：$blue
 * 情報：$green
 */
/**************** 共通設定 *********************/
html {
  /**
   * 親要素フォントサイズを10pxに変更
   * フォントサイズ変更時はrem指定
   * ex) 14pxの場合、[font-size: 1.4rem;]を指定
   * あずきフォントから優先的に使用される。（フリーフォントだよー！まるくてかわいいな！ありがとう！）
   */
  font-size: 62.5%;
  font-family: 'Tahoma','メイリオ','Century','HGS創英角ﾎﾟｯﾌﾟ体',sans-serif;
  background: repeat url(../images/index-background-01.jpg);
}

html body {
  font-size: 1.6rem;
  letter-spacing: 0.1em;
  line-height: 200%;
  margin: 0 auto;
  max-width: 980px;
}

html body h1 {
  font-size: 3.0rem;
}

html body h2 {
  font-size: 2.4rem;
}

html body p {
  font-size: 2.0rem;
}

html body a {
  font-size: 2.0rem;
}

/**************** ページタイトル *****************/
header {
  font-size: 3.6rem;
  font-weight: bold;
  color: #60d2c9;
  background: url(../images/index-nav-01.jpg);
  position: fixed;
  top: 0;
  height: 150px;
  padding-top: 20px;
  z-index: 2;
  max-width: 980px;
  width: 100%;
  /*************** ナビバー *******************/
}

header div.logo {
  text-align: center;
  margin-bottom: 20px;
}

header div.logo h1 {
  display: inline-block;
}

header div.logo p {
  margin: 0 auto;
}

header nav ul.nav-area {
  margin-bottom: 10px;
}

header nav ul.nav-area li.nav-item {
  box-sizing: border-box;
  display: inline-block;
  width: 25%;
  border-right: 2px;
  border-color: #ffffff;
  border-style: solid;
  background-color: #60d2c9;
  text-align: center;
}

header nav ul.nav-area li.nav-item:last-child {
  border-right: 0;
}

header nav ul.nav-area li.nav-item a {
  color: #ffffff;
  letter-spacing: 0.4em;
  font-size: 2.0rem;
  font-weight: bold;
  text-decoration: none;
  display: block;
  padding: 15px;
  margin: 0 auto;
}

header nav ul.nav-area li.nav-item a:hover {
  color: #60d2c9;
  background-color: #ffffff;
}

/*************** スライダー ****************/
.slick-container {
  width: 100%;
  /* 任意の値 */
  margin: 0 auto;
  /* 任意の値 */
  position: relative;
}

.slick-prev, .slick-next {
  width: 50px;
  /* 画像幅 */
  height: 90px;
}

.slick-prev:before, .slick-next:before {
  content: "";
}

button.slick-prev, button.slick-next {
  z-index: 1;
}

.slick-prev {
  left: 20px;
}

.slick-next {
  right: 20px;
}

.slick-arrow {
  z-index: 1;
}

#slider {
  margin: 0;
}

main div ul li img {
  width: 100%;
}

/*************** メインコンテンツ ******************/
main {
  position: relative;
  top: 150px;
}

#wrap {
  background-color: rgba(255, 246, 238, 0.8);
  /**** 共通部分 ****/
}

#wrap article {
  padding-bottom: 20px;
  /**** ABOUT ****/
  /**** BLOG ****/
  /**** CONTACT ****/
}

#wrap article .content-title {
  font-weight: bold;
  text-align: center;
  padding: 10px 0;
}

#wrap article .content-text {
  text-align: center;
  margin-bottom: 50px;
}

#wrap article .about-detail {
  display: flex;
  margin: 0 auto;
  text-align: center;
}

#wrap article .about-detail .product, #wrap article .about-detail .skill, #wrap article .about-detail .other {
  width: 30%;
  margin: 0 auto;
}

#wrap article .about-detail .product .sub-title, #wrap article .about-detail .skill .sub-title, #wrap article .about-detail .other .sub-title {
  font-weight: bold;
  margin-bottom: 20px;
}

#wrap article .about-detail .product p, #wrap article .about-detail .skill p, #wrap article .about-detail .other p {
  width: 90%;
  margin: 0 auto;
}

#wrap article .blog-detail .content-detail {
  display: flex;
  margin: 20px auto;
}

#wrap article .blog-detail .content-detail img {
  width: 300px;
  height: 200px;
  margin: 0 30px;
}

#wrap article .blog-detail .content-detail p {
  font-size: 1.6rem;
  width: 60%;
}

#wrap article div {
  margin-right: 20px;
  text-align: right;
}

#wrap article div #jump-blog:link {
  color: #88e2af;
}

#wrap article div #jump-blog:visited {
  color: #88e2af;
}

#wrap article #form {
  font-size: 1.8rem;
  width: 80%;
  margin: 0 auto;
}

#wrap article #form table tr td {
  vertical-align: top;
  padding: 10px 20px;
}

#wrap article #form table tr td .warning {
  font-size: 1.6rem;
  color: #ffffff;
  padding: 2px;
  border-radius: 4px;
  background-color: #FF6170;
}

#wrap article #form table tr td .info {
  font-size: 1.6rem;
  color: #ffffff;
  padding: 2px;
  border-radius: 4px;
  background-color: #47D978;
}

#wrap article #form table tr td input[type=text], #wrap article #form table tr td textarea {
  font-size: 1.8rem;
  font-family: sans-serif;
  border-radius: 4px;
  width: 500px;
  border: solid 1px #ccc;
}

#wrap article #form table tr td input[type=text]:focus, #wrap article #form table tr td textarea:focus {
  border-color: #54BAFF;
}

#wrap article #form div {
  padding: 0;
  text-align: center;
}

#wrap article #form div input[type="submit"] {
  padding: 5px 30px;
  font-size: 1.6rem;
  color: #ffffff;
  letter-spacing: 0.8em;
  text-align: center;
  text-indent: 1em;
  border: solid 0;
  border-radius: 4px;
  background-color: #54BAFF;
  box-shadow: 0 3px #2B5F82;
}

#wrap article #form div input[type="submit"]:active {
  background-color: #479CD6;
  box-shadow: none;
  margin-top: 3px;
}

#wrap #about {
  padding-top: 40px;
}
