// compileExpanded: ../css/$1.css
@charset "UTF-8";
$main-color: rgba(255,246,238,0.4);
$sub-color: #60d2c9;
$accent-color: #88e2af;
/**************** 共通設定 *********************/
html {
  /**
   * 親要素フォントサイズを10pxに変更
   * フォントサイズ変更時はrem指定
   * ex) 14pxの場合、[font-size: 1.4rem;]を指定
   * あずきフォントから優先的に使用される。（フリーフォントだよー！まるくてかわいいな！ありがとう！）
   */
  font-size: 62.5%;
  font-family: 'あずきフォント','メイリオ','HGS創英角ﾎﾟｯﾌﾟ体';
  background: repeat url(../images/index-background-01.jpg);
  body {
    font-size: 1.6rem; //デフォルト16px
    letter-spacing: 0.1em; //文字間
    line-height: 200%; //行間
    //relativeしたらずれたし、とりあえず代わりにid="wrap"とで指定した
    //background-color: $main-color;
    margin: 0 auto;
    max-width: 980px;
    h1 {
      font-size: 3.0rem;
    }
    h2 {
      font-size: 2.4rem;
    }
    p {
      font-size: 2.0rem;
    }
    a {
      font-size: 2.0rem;
    }
  }
}
/**************** ページタイトル *****************/
header {
  font-size: 3.6rem;
  font-weight: bold;
  color: $sub-color;
  background: url(../images/index-nav-01.jpg);
  //ヘッダ要素固定
  position: fixed;
  top: 0;
  height: 150px;
  padding-top: 20px;
  z-index: 2;
  max-width: 980px;
  width: 100%;
  //ここまで
  /************ トップのロゴ **************/
  div.logo {
    text-align: center;
    margin-bottom: 20px;
    h1 {
      display: inline-block;
    }
    p {
      margin: 0 auto;
    }
  }
  /*************** ナビバー *******************/
  nav {
    ul.nav-area {
      margin-bottom: 10px;
      li.nav-item {
        box-sizing: border-box;//widthにborderを含める（widthに100%指定してOKよ）
        display: inline-block;
        width: 25%;
        border-right: 2px;
        border-color:#ffffff;
        border-style:  solid;
        background-color: $sub-color;

        //子要素のaタグ中央揃え
        text-align: center;
        a {
          color: #ffffff;
          letter-spacing: 0.4em;
          font-size: 2.0rem;
          font-weight: bold;
          text-decoration: none;
          display: block;
          //width: 100%;
          padding: 15px;
          margin: 0 auto;
        }
        a:hover {
          color: $sub-color;
          background-color: #ffffff;
        }
      }
      li:last-child {
        //最後の要素のボーダーラインを消す
        border-right: 0;
      }
    }
  } //ナビバー終了
} //ヘッダ終了


/*************** スライダー ****************/
//スライダー本体のサイズ
.slick-container {
    width:100%; /* 任意の値 */
    margin:0 auto; /* 任意の値 */
    position:relative;
}
//ボタンサイズと矢印画像のサイズを合わせる(今回は判定広めにした)
 .slick-prev, .slick-next {
    width:50px; /* 画像幅 */
    height:90px /* 画像高さ */
}
.slick-prev:before, .slick-next:before {
    content:"";
}

button.slick-prev, button.slick-next {
    z-index:1;
}

.slick-prev {
  left:20px;
}
.slick-next {
  right:20px;
}

.slick-arrow {
  z-index:1;
}

//微調整
#slider {
  margin: 0;
}

main {
  div {
  ul {
    li {
      img {
        width: 100%;
      }
    }
  }
  }
} //スライダー終了

/*************** メインコンテンツ ******************/
main {
  position: relative;
  top:150px;
}

#wrap {
  background-color: $main-color;
  /**** 共通部分 ****/
  article {
    .content-title {
      font-weight: bold;
      text-align: center;
      padding: 40px 0;
    }
    .content-text {
      text-align: center;
      margin-bottom: 50px;
    } //共通部分終了

    /**** ABOUT ****/
    .about-title {
      // TODO 文字色でも変えてみる？
    }
    .about-detail {
      display: flex;
      margin: 0 auto;
      text-align: center;
      .product, .skill, .other {
        width: 30%;
        margin: 0 auto;
        .sub-title {
          font-weight: bold;
          margin-bottom: 20px;
        }
        p {
          width: 90%;
          margin: 0 auto;
        }
      }
    }  //ABOUT終了

    /**** BLOG ****/
    .blog-title {
      //TODO 文字色でも変えてみる？
    }
    .blog-detail {
      .content-detail {
        display: flex;
        margin: 20px auto;
        img {
          //画像サイズは固定（ブログ投稿時に指定の予定）
          width: 300px;
          height: 200px;
          margin: 0 30px;

        }
        p {
          font-size: 1.6rem;
          width: 60%;
        }
      }
    }
    #jump-blog {
      text-align: right;
      margin-right: 20px;
    }
     //BLOG終了

    /**** CONTACT ****/
  }
}
